<% include ../partials/boilerplate %>



<table class="table table-hover">
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Preference</th>
	</tr>
<%	clients.forEach(client => { %> 
	<tr>
	<td><a href='clients/<%= client.id %>'><%= client.lname %></a></td>
		<td><a href='clients/<%= client.id %>'><%= client.fname %></a></td>
		<td><%= client.type %></td>
		</tr>
<% }) %>
</table>
<a href='/clients/newclient'><img src="/images/createpro.jpg" width="42" height="42" border="0">Create New Client</button></a>


<% include ../partials/footer %>
