<% include ../partials/boilerplate %>

<div class='client'>
	<fieldset>
	<legend>Client Profile</legend>
	<h1><%= data.fname +' '+ data.lname %></h1>
	<p><%= data.dob %></p>
	<p><%= data.sex %></p>
	<p><%= data.address %></p>
	<p><%= data.homephone %></p>
	<p><%= data.cellphone %></p>
	<p><%= data.email %></p>
	<p><%= data.type %></p>

	</fieldset>
</div>

<form action="/clients/<%= data.id %>?_method=Delete" method="Post">
    <img src="/images/deletepro.png" width="42" height="42" border="0"><input class="btn btn-primary" type="Submit" value="Delete"/>
  </form>


  <img src="/images/editpro.png" width="42" height="42" border="0"><a href='/clients/<%=data.id%>/editclient' ><input class="btn btn-primary" type="submit" value="Edit Profile"/></a>



<% include ../partials/footer %>